@font-face {
  font-family: 'icomoon';
  src: url("../assets/fonts/icomoon.eot?qly4hl");
  src: url("../assets/fonts/icomoon.eot?qly4hl#iefix") format('embedded-opentype'), url("../assets/fonts/icomoon.ttf?qly4hl") format('truetype'), url("../assets/fonts/icomoon.woff?qly4hl") format('woff'), url("../assets/fonts/icomoon.svg?qly4hl#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="icon-"],
[class*=" icon-"] {
/* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-stack:before {
  content: "\e92e";
}
.icon-user:before {
  content: "\e971";
}
.icon-search:before {
  content: "\e986";
}
@font-face {
  font-family: 'icomoon';
  src: url("../assets/fonts/icomoon.eot?qly4hl");
  src: url("../assets/fonts/icomoon.eot?qly4hl#iefix") format('embedded-opentype'), url("../assets/fonts/icomoon.ttf?qly4hl") format('truetype'), url("../assets/fonts/icomoon.woff?qly4hl") format('woff'), url("../assets/fonts/icomoon.svg?qly4hl#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="icon-"],
[class*=" icon-"] {
/* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-stack:before {
  content: "\e92e";
}
.icon-user:before {
  content: "\e971";
}
.icon-search:before {
  content: "\e986";
}
.event-card {
  width: 100%;
  max-width: 350px;
  background-color: #f6f6f6;
  border-radius: 25px;
  border: 1px solid #ccc;
  overflow: hidden;
  margin: 0 auto 30px;
}
@media screen and (min-width: 679px) {
  .event-card {
    margin: 0 15px 30px;
  }
}
.event-card-img {
  width: auto;
}
.event-card-desc {
  padding: 30px;
}
.event-card-desc .date-time {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  color: #f39c12;
}
.event-card-desc .title {
  font-size: 22px;
  font-weight: bold;
  text-align: left;
  margin: 4px 0 6px;
}
.event-card-desc span {
  display: block;
  line-height: 1.8;
}
form .interest-picks {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
form .interest-picks .pick {
  display: inline-block;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 25px;
  margin: 0 15px 15px 0;
  background-color: #f6f6f6;
}
.footer {
  height: 100px;
  width: 100%;
  background-color: #ccc;
}
.header {
  height: auto;
  width: 100%;
  background-color: #96448e;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  box-sizing: border-box;
  margin-bottom: 30px;
}
.header .logo {
  width: auto;
  margin-bottom: 0;
}
@media screen and (min-width: 679px) {
  .header .logo {
    margin: 0;
  }
}
.header .logo img {
  height: 60px;
}
@media screen and (min-width: 679px) {
  .header .logo img {
    height: 70px;
  }
}
.header .menu {
  width: auto;
}
.header .menu-item {
  font-size: 32px;
  font-weight: normal;
  text-align: center;
  color: #f39c12;
  margin-right: 20px;
  text-decoration: none;
}
.busca {
  width: 90%;
  margin: 0 auto;
}
.busca-presentation {
  margin-bottom: 30px;
}
.busca-presentation h1 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: #f39c12;
  margin: 0;
}
.busca-presentation p {
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  color: #000;
  line-height: 1.6;
}
.busca-content {
  width: 100%;
}
.busca-content-search {
  margin-bottom: 30px;
  position: relative;
}
.busca-content-search .icon-search {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(100%, -50%);
  font-size: 18px;
  color: #999;
}
.busca-content-search .search {
  font-size: 18px;
  font-weight: normal;
  text-align: left;
  width: 100%;
  padding: 15px 15px 15px 45px;
  border: 1px solid #ccc;
  border-radius: 25px;
}
.busca-content-results {
  display: flex;
  flex-flow: column;
}
@media screen and (min-width: 679px) {
  .busca-content-results {
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-evenly;
  }
}
.busca-content-results .event-card img {
  max-width: 100%;
}
.page-criar-conta {
  width: 100%;
  height: calc(100vh - 150px);
  background-image: url("../../assets/Background_eventus.png");
  background-position: center;
  padding: 30px 0;
  box-sizing: border-box;
  position: relative;
}
@media screen and (min-width: 679px) {
  .page-criar-conta {
    height: calc(100vh - 100px);
  }
}
.page-criar-conta .form-wrapper {
  width: 80%;
  max-width: 450px;
  height: auto;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 25px;
  padding: 30px;
  box-sizing: border-box;
}
@media screen and (min-width: 679px) {
  .page-criar-conta .form-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.page-criar-conta .form-wrapper h1 {
  text-align: center;
  margin: 0 0 15px;
  font-size: 32px;
}
.page-criar-conta .form-wrapper form label {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
}
.page-criar-conta .form-wrapper form input {
  display: block;
  margin-bottom: 15px;
  background-color: #f6f6f6;
  border: 1px solid #ccc;
  padding: 15px;
  font-size: 18px;
  width: 100%;
  border-radius: 25px;
}
.page-criar-conta .form-wrapper form input[type="submit"] {
  background-color: #96448e;
  border-radius: 25px;
  color: #fff;
  display: inline-block;
  padding: 12px 18px;
  text-decoration: none;
  padding: 15px;
  font-size: 18px;
  margin: 30px 0 0;
}
.home {
  width: 90%;
  margin: 0 auto;
}
.home-hello {
  margin-bottom: 30px;
}
.home-hello h1 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: #f39c12;
  margin: 0;
}
.home-hello p {
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  color: #000;
  line-height: 1.6;
}
.home-events {
  display: flex;
  flex-flow: column;
}
@media screen and (min-width: 679px) {
  .home-events {
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-evenly;
  }
}
.home-events .event-card img {
  max-width: 100%;
}
.institucional-header {
  height: auto;
  width: 100%;
  background-color: #96448e;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  box-sizing: border-box;
}
@media screen and (min-width: 679px) {
  .institucional-header {
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    box-sizing: border-box;
  }
}
.institucional-header .logo {
  width: auto;
  margin-bottom: 15px;
}
@media screen and (min-width: 679px) {
  .institucional-header .logo {
    margin: 0;
  }
}
.institucional-header .logo img {
  height: 60px;
}
@media screen and (min-width: 679px) {
  .institucional-header .logo img {
    height: 70px;
  }
}
.institucional-header .links {
  display: flex;
  flex-flow: row;
}
.institucional-header .links .login {
  background-color: tranparent;
  border-radius: 25px;
  color: #fff;
  display: inline-block;
  padding: 12px 18px;
  text-decoration: none;
  font-size: 18px;
  margin-right: 10px;
}
.institucional-header .links .cadastro {
  background-color: #fff;
  border-radius: 25px;
  color: #96448e;
  display: inline-block;
  padding: 12px 18px;
  text-decoration: none;
  font-size: 18px;
}
.institucional {
  width: 100%;
  height: calc(100vh - 150px);
  background-image: url("../../assets/Background_eventus.png");
  background-position: center;
  padding: 30px 0;
  box-sizing: border-box;
  position: relative;
}
@media screen and (min-width: 679px) {
  .institucional {
    height: calc(100vh - 100px);
  }
}
.institucional .institucional-content {
  width: 80%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.institucional .institucional-content h1 {
  font-size: 44px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  margin: 0;
}
.institucional .institucional-content p {
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  color: #fff;
  line-height: 1.6;
}
.institucional .institucional-content .institucional-link {
  background-color: #f39c12;
  border-radius: 25px;
  color: #fff;
  display: inline-block;
  padding: 12px 18px;
  text-decoration: none;
  width: 100%;
  font-size: 24px;
  margin: 30px auto 0;
  text-decoration: none;
  text-align: center;
}
@media screen and (min-width: 679px) {
  .institucional .institucional-content .institucional-link {
    width: 250px;
  }
}
.institucional-footer {
  height: 100px;
  width: 100%;
  background-color: #ccc;
}
.interesses {
  width: 90%;
  margin: 0 auto;
}
.interesses-presentation {
  margin-bottom: 30px;
}
.interesses-presentation h1 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: #f39c12;
  margin: 0;
}
.interesses-presentation p {
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  color: #000;
  line-height: 1.6;
}
.interesses-content {
  width: 100%;
}
.interesses-content .interest-picks {
  margin-bottom: 15px;
}
.interesses-content .interest-content-button {
  margin-bottom: 30px;
}
.interesses-content .interest-content-button .buscar-interesse {
  background-color: #f39c12;
  border-radius: 25px;
  color: #fff;
  display: inline-block;
  padding: 12px 18px;
  text-decoration: none;
  border: 0;
  margin: 0 auto;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  display: block;
  margin-bottom: 15px;
}
@media screen and (min-width: 679px) {
  .interesses-content .interest-content-button .buscar-interesse {
    width: 250px;
  }
}
.interesses-content-results {
  display: flex;
  flex-flow: column;
}
@media screen and (min-width: 679px) {
  .interesses-content-results {
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-evenly;
  }
}
.interesses-content-results .event-card img {
  max-width: 100%;
}
.page-login {
  width: 100%;
  height: calc(100vh - 150px);
  background-image: url("../../assets/Background_eventus.png");
  background-position: center;
  padding: 30px 0;
  box-sizing: border-box;
  position: relative;
}
@media screen and (min-width: 679px) {
  .page-login {
    height: calc(100vh - 100px);
  }
}
.page-login .form-wrapper {
  width: 80%;
  max-width: 450px;
  height: auto;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 25px;
  padding: 30px;
  box-sizing: border-box;
}
@media screen and (min-width: 679px) {
  .page-login .form-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.page-login .form-wrapper h1 {
  text-align: center;
  margin: 0 0 15px;
  font-size: 32px;
}
.page-login .form-wrapper form label {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
}
.page-login .form-wrapper form input {
  display: block;
  margin-bottom: 15px;
  background-color: #f6f6f6;
  border: 1px solid #ccc;
  padding: 15px;
  font-size: 18px;
  width: 100%;
  border-radius: 25px;
}
.page-login .form-wrapper form input[type="submit"] {
  background-color: #96448e;
  border-radius: 25px;
  color: #fff;
  display: inline-block;
  padding: 12px 18px;
  text-decoration: none;
  padding: 15px;
  font-size: 18px;
  margin: 30px 0 0;
}
.perfil {
  width: 90%;
  margin: 0 auto;
}
.perfil-presentation {
  margin-bottom: 30px;
}
.perfil-presentation h1 {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: #f39c12;
  margin: 0;
}
.perfil-presentation p {
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  color: #000;
  line-height: 1.6;
}
.perfil-content {
  width: 100%;
}
.perfil-content .interest-picks {
  margin-bottom: 30px;
}
.perfil-content-button {
  text-align: center;
}
.perfil-content-button .change-interesse {
  background-color: #f39c12;
  border-radius: 25px;
  color: #fff;
  display: inline-block;
  padding: 12px 18px;
  text-decoration: none;
  border: 0;
  margin: 0 auto;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  display: block;
  margin-bottom: 15px;
}
@media screen and (min-width: 679px) {
  .perfil-content-button .change-interesse {
    width: 250px;
  }
}
.perfil-content .logout {
  background-color: #fff;
  border-radius: 25px;
  color: #f39c12;
  display: inline-block;
  padding: 12px 18px;
  text-decoration: none;
  border: 1px solid #f39c12;
  margin: 0 auto;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  display: block;
}
@media screen and (min-width: 679px) {
  .perfil-content .logout {
    width: 250px;
  }
}
body {
  font-family: "Helvetica", sans-serif;
  margin: 0;
  padding: 0;
  width: auto;
}
h1 {
  margin-top: 0;
}
