//esses imports acima servem pra garantir que as variaveis sejam as primeiras a serem importadas
@import 'common/variables.styl'
@import 'common/mixins.styl'
@import 'common/fonts.styl'

@import 'common/*'
@import 'default/*'
@import 'pages/*'

body
    font-family $font
    margin 0
    padding 0
    width auto

h1
    margin-top 0
