.event-card
    width 350px
    background-color $light-gray
    border-radius $radius
    border 1px solid $gray
    overflow hidden

    &-img
        width auto

    &-desc
        padding 30px

        .date-time
            font(16px, bold, left)
            color $secondary-color
        
        .title
            font(22px, bold, left)
            margin 4px 0 6px

        span 
            display block
            line-height 1.8
