.event-card
    width 100%
    max-width 350px
    background-color $light-gray
    border-radius $radius
    border 1px solid $gray
    overflow hidden
    margin 0 auto 30px

    +tablet()
        margin 0 15px 30px

    &-img
        width auto

    &-desc
        padding 30px

        .date-time
            font(16px, bold, left)
            color $secondary-color
        
        .title
            font(22px, bold, left)
            margin 4px 0 6px

        span 
            display block
            line-height 1.8

form

    .interest-picks
        display flex
        flex-flow row wrap
        justify-content center

        .pick
            display inline-block
            padding 15px
            border 1px solid #CCC
            border-radius $radius
            margin 0 15px 15px 0
            background-color $light-gray