$font = "Helvetica", sans-serif

$primary-color = #96448E
$secondary-color = orange
$tertiary-color= gray

$white = #fff
$black = #000
$gray = #666
$light-gray = #F1F1F1
$soft-gray = alpha($black, 0.2)
$dark-purple = #1f0b45
$transparent = #fff0
$gutter = 30px

$breakpoints = {
	minTablet: 679px,
	minDesktop: 1024px,
	minWide: 1200px
	maxWide: 1370px
}

$radius = 25px
