.busca
    width 90%
    margin 0 auto

    &-presentation
        presentationText()
        margin-bottom 30px

    &-content
        width 100%

        &-search
            margin-bottom 30px

            .search
                font(18px, normal, left)
                width 100%
                padding 15px
                border 1px solid #CCC
                border-radius $radius

        &-results
            display flex
            flex-flow column

            +tablet()
                flex-flow row wrap
                align-items stretch
                justify-content space-evenly

            .event-card

                img
                    max-width 100%
