.home
    width auto

    &-hello

        h1
            font(32px, bold, center)
            color $secondary-color
            margin 0

        p
            font(18px, normal, center)
            color $black
            line-height 1.6