.home
    width 90%
    margin 0 auto

    &-hello
        presentationText()
        margin-bottom 30px

    &-events
        display flex
        flex-flow column

        +tablet()
            flex-flow row wrap
            align-items stretch
            justify-content space-evenly

        .event-card

            img
                max-width 100%
