.institucional-header
    height 110px
    width 100%
    background-color $primary-color
    display flex
    flex-flow row
    align-items center
    justify-content space-between
    padding 15px
    box-sizing border-box

    .logo
        width auto

    .links
        display flex
        flex-flow row

        .login
            button(tranparent, white)
            font-size 18px
            margin-right 10px
        
        .cadastro
            button($white, $primary-color)
            font-size 18px

.institucional
    width 100%

.institucional-footer
    height 100px
    width 100%
    background-color #CCC
