.interesses
    width 90%
    margin 0 auto

    &-presentation
        presentationText()
        margin-bottom 30px

    &-content
        width 100%

        .interest-picks
            margin-bottom 30px

        &-results
            display flex
            flex-flow column

            +tablet()
                flex-flow row wrap
                align-items stretch
                justify-content space-evenly

            .event-card

                img
                    max-width 100%
