.interesses
    width 90%
    margin 0 auto

    &-presentation
        presentationText()
        margin-bottom 30px

    &-content
        width 100%

        &-picks
            margin-bottom 30px
            display flex
            flex-flow row wrap

            .pick
                display inline-block
                padding 15px
                border 1px solid #CCC
                border-radius $radius
                margin 0 15px 15px 0
                background-color $light-gray

        &-results
            display flex
            flex-flow column

            +tablet()
                flex-flow row wrap
                align-items stretch
                justify-content space-evenly

            .event-card

                img
                    max-width 100%
