.interesses
    width 90%
    margin 0 auto

    &-presentation
        presentationText()
        margin-bottom 30px

    &-content
        width 100%

        .interest-picks
            margin-bottom 15px

        .interest-content-button
            margin-bottom 30px

            .buscar-interesse
                button($secondary-color, $white)
                border 0
                margin 0 auto
                text-decoration none
                text-align center
                font-size 18px
                display block
                margin-bottom 15px

                +tablet()
                    width 250px

        &-results
            display flex
            flex-flow column

            +tablet()
                flex-flow row wrap
                align-items stretch
                justify-content space-evenly

            .event-card

                img
                    max-width 100%
